body
{
	width: 100%;
	position: absolute;
	background-attachment: fixed;
	background-size:cover;
}

/* Main page container */
#container
{
	width:auto;
	height:auto;
}

/******************************
 *      Top Page Banner       *
 ******************************
 */
 
 
/* Banner strip container */
#banner
{
	height: 100px;
	width: 100%;
}

/* Banner Icons and Images */
#bannerimage
{
	float: left;
	padding: 8px 17px 8px 8px;
}

.headdericon
{
        float: right;
        padding: 18px;
}


/******************************
 *  Top page navigation list  *	
 ******************************
 */

#navMenu
{
	text-align: center;
	border-style:solid none;
        border-width:2px;
        opacity:0.75; 
        background-color:rgb(230,230,230);

}

#navMenu ul 
{
	padding:10px;
}
	 
#navMenu li
{
	list-style: none;
	display: inline; 
	border-style: none solid;
	border-width:1px;
	margin: 0 5px;
}

#navMenu a
{
	padding:0 15px;
	margin: 150px 0;
	text-decoration: none;
        color: #000;    
}

#navMenu li:hover a
{
	color:rgb(0,50,255);
	opacity:0.7;
}

#subNav  
{
	display: none;
	background-color:rgb(230,230,230);
	margin: 10px 0 0 0;
	border-top: solid 2px;
	border-bottom: solid 2px;
	box-shadow: 8px 12px rgba(70,70,70,0.8);
}

#subNav li
{
	display:block;
	margin:5px 0;
}

#subNav li:hover a
{
	color:rgb(0,0,0);
	opacity:1;
}

#navMenu li:hover ul
{
	height:auto;
	display: block;
}

#userbutton
{
	width:160px;
}

/******************************** 
 *       Main Content           *
 ********************************
 */
 
 
/* Generic Background block */
#content
{
	width:980px;
	margin-left:auto;
	margin-right:auto;
	align:center;
}

/* index.php "Home" Page */
#newsfeed
{
	width:680px;
	margin: 30px 0 0 0;
	float:left;
}

#sidepanel
{
	float:left;
	width:250px;
	margin: 30px 0 0 50px;
}

.post
{	
	width:auto;
	color:rgb(0,0,0);
	border-style:solid;
	border-width:2px;
	text-align:left;
	margin-bottom:30px;

}

.post .headder
{
	background-color:rgb(190,190,255);
	opacity:0.88;
	border-bottom-style:solid;
	border-bottom-width:1px;
	height:35px;
}

.post .headder .title
{
	padding:10px;
	float:left;
}

.post .headder .date
{
	padding:10px;
	float:right;
}

.post .headder .center
{
	padding:10px;
	text-align:center;
}

.post .content
{
	width:auto;
	background-color:rgb(230,230,230);
	opacity:0.88;
	padding:10px;
}

.post .content li
{
	height:36px;
	display:block;
}

.face
{
	padding:1px;
	float:left;
}

.player
{
	padding:10px 10px 0 0;
	text-align:center;	
}

/* Login page */
#logincontent
{
	height: 600px;
	margin: 50px 20%;
}


/*********************************
 *       Ranking Tables          *             
 ********************************* 
 */


#ranking 
{
	text-align: center;
	margin:30px 20%;
}

#ranking th
{
	background-color:rgb(190,190,255);
	font-size:18px;
}

#ranking td, th
{
	background-color:white;	
	text-align:left;
	padding:15px 150px 15px 15px;
	border:2px solid black;
	width:100%;
}

/* 		Footer
#footer
{
	border-top-style: solid;
	border-top-width: 2px;
	opacity: 0.6;
	background-color: rgb(230,230,230);
	padding: 5px;
	text-align: left;
	position: absolute; 
	width: 99.5%;
	bottom: -295px;
	height: 100px;   
}
*/

/*******************************
 *       Basic Classes         * 
 *******************************
 */

.right { float:right; }
.left { float:left; }

.left-align { text-align:left; }
.center { text-align:center; }

.green-text { color:green; }
.red-text   { color:red; }
